
  <!-- Sidebar inner slimmscroll -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <!-- MAIN -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">DASHBOARD</h6>
            <ul>
               <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="grid"></i>
                  <span>Super Admin</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li>
                    <a href="product-list.html">
                      <span>Dashboard Admin</span>
                    </a>
                  </li>
                  <li>
                    <a href="product-list.html">
                      <span>Subscriptions</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-tunggal"><a href="sales-dashboard.html"><i data-feather="grid"></i> <span> Sales Dashboard</span> </a></li>
              <li class="menu-tunggal"><a href="kalkulator-dashboard.html"><i data-feather="grid"></i> <span> Kalkulator Dashboard</span> </a></li>
              <li class="menu-tunggal"><a href="analytics-dashboard.html"><i data-feather="grid"></i> <span>Analytics Dashboard </span> </a></li>
            </ul>
          </li>


          <!-- WEBSTORE -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">WEBSTORE</h6>
            <ul>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="user"></i>
                  <span>Customers</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li><a href="cart.html"><span>Cart</span></a></li>
                  <li><a href="checkout.html"><span>Checkout</span></a></li>
                  <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                  <li><a href="reviews.html"><span>Reviews</span></a></li>
                  <li><a href="billing.html"><span>Billing</span></a></li>
                  <li><a href="address.html"><span>Address</span></a></li>
                </ul>
              </li>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="pocket"></i>
                  <span>Support Ticket</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li><a href="list.html"><span>List</span></a></li>
                  <li><a href="detail.html"><span>Detail</span></a></li>
                </ul>
              </li>
              <li class="menu-tunggal"><a href="orders.html"><i data-feather="link-2"></i><span> Contact Form</a></li>
            </ul>

          </li>

          <!-- kalkulator -->
         <li class="submenu-open">
          <h6 class="submenu-hdr">KALKULATOR</h6>
          <ul>
                <li class="menu-tunggal"><a href="semua-percetakan.html"><i data-feather="copy"></i><span>Semua Percetakan</span></a></li>
                <li class="submenu">
                  <a href="javascript:void(0);">
                    <i data-feather="printer"></i>
                    <span>Data Mesin</span>
                    <span class="menu-arrow"></span>
                  </a>
                  <ul>
                    <li><a href="mesin-cetak.html">Mesin cetak</a></li>
                    <li><a href="mesin-laminasi.html">Mesin laminasi</a></li>
                    <li><a href="mesin-pond.html">Mesin pond</a>
                    </li>
                    <li><a href="mesin-poli.html">Mesin poli</a></li>
                  </ul>
                </li>
                <li class="menu-tunggal"><a href="semua-toko-kertas.html"><i data-feather="credit-card"></i><span>Semua Toko Kertas</span></a></li>
                <li class="submenu">
                  <a href="javascript:void(0);">
                    <i data-feather="file-text"></i>
                    <span>Data Kertas</span>
                    <span class="menu-arrow"></span>
                  </a>
                  <ul>
                    <li><a href="kertas-group.html">Kertas group</a></li>
                    <li><a href="kertas-ukuran">Kertas ukuran</a></li>
                    <li><a href="kertas-jenis.html">Kertas jenis</a></li>
                    <li><a href="kertas-ukuran-potongan.html">Kertas ukuran potongan</a></li>
                    <li><a href="kertas-ukuran-plano.html">Kertas ukuran plano</a></li>
                  </ul>
                </li>
              </ul>
        </li>

          <!-- INVENTORY -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">INVENTORY</h6>
            <ul>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="box"></i>
                  <span>Products</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li class="submenu submenu-two">
                    <a href="javascript:void(0);">
                      <span>Special product</span>
                      <span class="menu-arrow inside-submenu"></span>
                    </a>
                    <ul>
                      <li>
                        <a href="cetak-full-color.html">
                          <span>cetak full color</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="product-list.html">
                      <span>Product list</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="menu-tunggal">
                <a href="create-product.html">
                  <i data-feather="plus-square"></i>
                  <span>Create Product</span>
                </a>
              </li>
              <li class="menu-tunggal"><a href="category.html">
                  <i data-feather="codepen"></i>
                  <span>Category</span>
                </a></li>
              <li class="menu-tunggal">
                <a href="sub-category.html">
                  <i data-feather="speaker"></i>
                  <span>Sub Category</span>
                </a>
              </li>
              <li class="menu-tunggal"><a href="unit.html">
                  <i data-feather="git-commit"></i>
                  <span>Unit</span>
                </a></li>
              <li class="menu-tunggal"><a href="variant.html">
                  <i data-feather="layers"></i>
                  <span>Variant</span>
                </a></li>

              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="list"></i>
                  <span>Components</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li class="submenu submenu-two">
                    <a href="javascript:void(0);">
                      <span>Kertas</span>
                      <span class="menu-arrow inside-submenu"></span>
                    </a>
                    <ul>
                      <li><a href="harga-kertas.html">
                          <span>harga kertas</span>
                        </a></li>
                      <li><a href="kertas-group.html">
                          <span>kertas group</span>
                        </a></li>
                      <li><a href="kertas-ukuran.html">
                          <span>kertas ukuran</span>
                        </a></li>
                      <li><a href="kertas-jenis.html">
                          <span>kertas jenis</span>
                        </a></li>
                      <li><a href="kertas-ukuran-potongan.html">
                          <span>kertas ukuran potongan</span>
                        </a></li>
                      <li><a href="kertas-ukuran-plano.html">
                          <span>kertas ukuran plano</span>
                        </a></li>
                    </ul>
                  </li>
                  <li class="submenu submenu-two">
                    <a href="javascript:void(0);">
                      <span>Mesin</span>
                      <span class="menu-arrow inside-submenu"></span>
                    </a>
                    <ul>
                      <li><a href="harga-jasa-mesin.html">
                          <span>harga jasa mesin</span>
                        </a></li>
                      <li><a href="mesin-cetak.html">
                          <span>mesin cetak</span>
                        </a></li>
                      <li><a href="mesin-laminasi.html">
                          <span>mesin laminasi</span>
                        </a></li>
                      <li><a href="mesin-pond.html">
                          <span>mesin pond</span>
                        </a></li>
                      <li><a href="mesin-poli.html">
                          <span>mesin poli</span>
                        </a></li>
                    </ul>
                  </li>
                  <li><a href="harga-jasa-lainnya.html">
                      <span>Harga jasa lainnya</span>
                    </a></li>
                  <li><a href="komponen-cetak.html">
                      <span>Komponen cetak</span>
                    </a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- SALES -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">SALES</h6>
            <ul>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="trending-up"></i>
                  <span>Sales</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li>
                    <a href="online-orders.html">
                      <span>Online orders</span>
                    </a>
                  </li>
                  <li>
                    <a href="pos-order.html">
                      <span>POS order</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu-tunggal">
                <a href="invoice.html">
                  <i data-feather="file-text"></i>
                  <span>Invoice</span>
                </a></li>
              <li class="menu-tunggal"><a href="sales-return.html">
                  <i data-feather="git-pull-request"></i>
                  <span>Sales Return</span>
                </a></li>
              <li class="menu-tunggal"><a href="quotation.html">
                  <i data-feather="save"></i>
                  <span>Quotation</span>
                </a></li>
              <li class="menu-tunggal"><a href="pos.html">
                  <i data-feather="hard-drive"></i>
                  <span>POS</span>
                </a></li>
            </ul>
          </li>

          <!-- PROMO -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">PROMO</h6>
            <ul>
              <li class="menu-tunggal">
                <a href="coupon.html">
                  <i data-feather="tag"></i>
                  <span>Coupon</span>
                </a>
              </li>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="trending-down"></i>
                  <span>Discount</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li>
                    <a href="discount-plan.html">
                      <span>Discount plan</span>
                    </a>
                  </li>
                  <li>
                    <a href="discount.html">
                      <span>Discount</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- purchases -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">PURCHASES</h6>
            <ul>
              <li class="menu-tunggal"><a href="purchase.html">
                  <i data-feather="shopping-bag"></i>
                  <span>Purchase</span>
                </a>
              </li>
              <li class="menu-tunggal"><a href="purchase-order.html">
                  <i data-feather="file-minus"></i>
                  <span>Purchase Order</span>
                </a></li>
              <li class="menu-tunggal"><a href="purchase-return.html">
                  <i data-feather="refresh-cw"></i>
                  <span>Purchase Return</span>
                </a></li>
            </ul>
          </li>

          <!-- FINANCE & ACCOUNT -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">FINANCE & ACCOUNT</h6>
            <ul>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="external-link"></i>
                  <span>Expense</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li><a href="expenses.html">
                      <span>Expenses</span>
                    </a></li>
                  <li><a href="expense-category.html">
                      <span>Expense category</span>
                    </a></li>
                </ul>
              </li>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <i data-feather="file-plus"></i>
                  <span>Income</span>
                  <span class="menu-arrow"></span>
                </a>
                <ul>
                  <li><a href="income.html">
                      <span>Income</span>
                    </a></li>
                  <li><a href="income-category.html">
                      <span>Income category</span>
                    </a></li>
                </ul>
              </li>
              <li class="menu-tunggal">
                <a href="bank-account.html">
                  <i data-feather="credit-card"></i>
                  <span>Bank Account</span>
                </a>
              </li>
              <li class="menu-tunggal">
                <a href="money-transfer.html">
                  <i data-feather="share"></i>
                  <span>Money Transfer</span>
                </a>
              </li>
              <li class="menu-tunggal"  >
                <a href="balance-sheet.html">
                  <i data-feather="pie-chart"></i>
                  <span>Balance Sheet</span>
                </a>
              </li>
              <li class="menu-tunggal">
                <a href="cash-flow.html">
                  <i data-feather="git-branch"></i>
                  <span>Cash Flow</span>
                </a>
              </li>
              <li class="menu-tunggal">
                <a href="account-statement.html">
                  <i data-feather="pie-chart"></i>
                  <span>Account Statement</span>
                </a>
              </li>
              <li class="menu-tunggal">
                <a href="cash-advance.html">
                  <i data-feather="git-branch"></i>
                  <span>Cash Advance</span>
                </a>
              </li>
            </ul>
          </li>

          <!-- Peoples -->
          <li class="submenu-open">
            <h6 class="submenu-hdr">PEOPLES</h6>
            <ul>
              <li class="menu-tunggal"><a href="customers.html"><i data-feather="user"></i><span>Customers</span></a></li>
              <li class="menu-tunggal"><a href="supplier.html"><i data-feather="users"></i><span>Supplier</span></a></li>
              <li class="menu-tunggal"><a href="biller.html"><i data-feather="users"></i><span>Biller</span></a></li>
              <li class="menu-tunggal"><a href="store-list.html"><i data-feather="home"></i><span>Store</span></a></li>
          </li>
        </ul>
        </li>

        <!-- HRM -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">HRM</h6>
          <ul>
            <li class="menu-tunggal"><a href="employees.html"><i data-feather="briefcase"></i><span>Employees</span></a></li>
            <li class="menu-tunggal"><a href="department.html"><i data-feather="cast"></i><span>Department</span></a></li>
            <li class="menu-tunggal"><a href="designation.html"><i data-feather="git-merge"></i><span>Designation</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="calendar"></i><span>Payroll</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="employee-salary.html">
                    <span>Employee salary</span>
                  </a></li>
                <li><a href="payslip.html">
                    <span>Payslip</span>
                  </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- REPORT -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">REPORT</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="bar-chart-2"></i>
                <span>Sales Report</span><span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="sales-report.html">
                    <span>Sales report</span> </a></li>
                <li><a href="best-seller.html">
                    <span>Best seller</span>
                  </a></li>
              </ul>
            </li>
            <li class="menu-tunggal"><a href="purchase-report.html">
                <i data-feather="pie-chart"></i>
                <span>Purchase Report</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="invoice-report.html">
                <i data-feather="clipboard"></i>
                <span>Invoice Report</span>
              </a></li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="calendar"></i>
                <span>Supplier Report</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="supplier-report.html">
                    <span>Supplier report</span>
                  </a></li>
                <li><a href="suplier-due-report.html">
                    <span>Supplier due report</span>
                  </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="calendar"></i>
                <span>Customers Report</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="customer-report.html">
                    <span>Customer report</span>
                  </a></li>
                <li><a href="customer-due-report.html">
                    <span>Customer due report</span>
                  </a></li>
              </ul>
            </li>
            <li class="menu-tunggal"><a href="product-report.html"><i data-feather="package"></i><span>Product Report</span></a></li>
            <li class="menu-tunggal"><a href="expense-report.html"><i data-feather="server"></i><span>Expense Report</span></a></li>
            <li class="menu-tunggal"><a href="income-report.html"><i data-feather="database"></i><span>Income Report</span></a></li>
            <li class="menu-tunggal"><a href="tax-report.html"><i data-feather="database"></i><span>Tax Report</span></a></li>
            <li class="menu-tunggal"><a href="profit-and-loss.html"><i data-feather="pie-chart"></i><span>Profit & Loss</span></a></li>
            <li class="menu-tunggal"><a href="annual-report.html"><i data-feather="align-center"></i><span>Annual Report</span></a></li>
          </ul>
        </li>

        <!-- BLOG -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">CONTENT</h6>
          <ul>
            <li class="menu-tunggal"><a href="all-blog.html"><i data-feather="life-buoy"></i><span>All Blog</span></a></li>
            <li class="menu-tunggal"><a href="blog-tag.html"><i data-feather="hash"></i><span>Blog Tag</span></a></li>
            <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="sliders"></i><span>Blog Category</span></a>
            </li>
            <li class="menu-tunggal"><a href="blog-comment.html"><i data-feather="edit"></i><span>Blog Comment</span></a>
            </li>
            <li class="menu-tunggal"><a href="faq.html"><i data-feather="help-circle"></i><span>FAQ</span></a></li>
            <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="paperclip"></i><span>Our Client</span></a></li>
            <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="paperclip"></i><span>Download Files</span></a></li>
            <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="paperclip"></i><span>Footer</span></a></li>
            <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="paperclip"></i><span>Banner</span></a></li>
          </ul>
        </li>

        <!-- User Management -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">USER MANAGEMENT</h6>
          <ul>
            <li class="menu-tunggal"><a href="user.html"><i data-feather="user-check"></i><span>User</span></a></li>
            <li class="menu-tunggal"><a href="role-permissions.html"><i data-feather="shield"></i><span>Role & Permissions</span></a></li>
            <li class="menu-tunggal"><a href="delete-account.html"><i data-feather="user-minus"></i><span>Delete Account Request</span></a>
            </li>
          </ul>
        </li>

        <!-- Setting -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">SETTING</h6>
          <ul>
            <li class="menu-tunggal"><a href="profile.html">
              <i data-feather="settings"></i>
              <span>Profile</span>
            </a></li>
            <li class="submenu submenu-two">
            <a href="javascript:void(0);">
              <i data-feather="globe"></i>
              <span>Locations</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="province.html">Province</a></li>
              <li><a href="regency.html">Regency </a></li>
              <li><a href="district.html">District</a></li>
            </ul>
          </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="globe"></i>
                <span>Webstore Setting</span>
                <span class="menu-arrow"></span>
                </a>
              <ul>
                <li><a href="system-setting.html">
                  <span>System setting</span>
                </a></li>
                <li><a href="company-setting.html">
                  <span>Company setting</span>
                </a></li>
                <li><a href="localization.html">
                  <span>Localization</span>
                </a></li>
                <li><a href="prefixes.html">
                  <span>Prefixes</span>
                </a></li>
                <li><a href="preference.html">
                  <span>Preference</span>
                </a></li>
                <li><a href="social-authentication.html">
                  <span>Social authentication</span>
                </a></li>
                <li><a href="language.html">
                  <span>Language</span>
                </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="smartphone"></i>
                <span>App Setting</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="invoice-setting.html">
                  <span>Invoice setting</span>
                </a></li>
                <li><a href="inovice-template.html">
                  <span>Invoice template</span>
                </a></li>
                <li><a href="pos-settings.html">
                  <span>POS</span>
                </a></li>
                <li><a href="custom-field.html">
                  <span>Custom field</span>
                </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="monitor"></i>
                <span>System Setting</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="email-setting.html">
                  <span>Email setting</span>
                </a></li>
                <li><a href="email-template.html">
                  <span>Email template</span>
                </a></li>
                <li><a href="otp.html">
                  <span>OTP</span>
                </a></li>
              </ul>
            </li>

            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="dollar-sign"></i>
                <span>Financial Setting</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="payment-gateway.html">
                  <span>Payment gateway</span>
                </a></li>
                <li><a href="bank-settings-grid.html">
                  <span>Bank accounts</span>
                </a></li>
                <li><a href="tax-rates.html">
                  <span>Tax rates</span>
                </a></li>
              </ul>
            </li>
            <li class="menu-tunggal">
              <a href="signout.html">
                <i data-feather="log-out"></i>
                <span>Logout</span> 
              </a>
            </li>
          </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Sidebar -->